.Container {
  margin: 50px;
}

.Main {
  display: flex;
  flex-direction: column;
  color: #333;
}

.Main > a {
  margin-bottom: 30px;
  text-decoration: none;
  color: #333;
}

.Main > a.Focus {
  background: #333;
  color: white;
}

.About {
  opacity: 1;
}
.About p {
  max-width: 600px;
}

.Code {
  height: 100%;
}

.Code .Bold {
  font-weight: bold;
}

.Code .CodeLeft,
.TabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

.Code .FlexImage {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 1px solid #333;
}

.Code .CodeRight {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Code .Seperator {
  margin: 25px 0px;
  height: 5px;
  background: white;
  width: 80%;
}

.Code .BtnBar {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 5px 5px 5px #111;
  z-index: 1;
  background: #666;
}

.Code .Btn {
  padding: 10px;
  background: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background 0.2s;
}

.Code .BtnBar .Btn {
  margin-left: 50px;
}

.Code .TabsBar {
  display: flex;
}

.Code .TabsBar .Btn:first-child {
  margin-right: 50px;
}

.Code .Selected {
  border-bottom: 6px solid #333;
  font-weight: bold;
  border-bottom-style: inset;
}

.Code .Btn:hover {
  background: #444;
  cursor: pointer;
}
