.Container {
  margin: 50px;
}

.Main {
  display: flex;
  flex-direction: column;
  color: #333;
}

.Main > a {
  margin-bottom: 30px;
  text-decoration: none;
  color: #333;
}

.Main > a.Focus {
  background: #333;
  color: white;
}

.About {
  opacity: 1;
}

.Code {
  height: 100%;
}

.Code .CodeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

.Code .FlexImage {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 1px solid #333;
}

.Code .CodeRight {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
